<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events page</title>
    <link rel="stylesheet" href="scss/main.css">

</head>
<body>

<div class="popup task ">

    <div class="task__tabs-container">
        <div class="task__tab active">Task</div>
        <div class="task__tab">14 сдали</div>
    </div>

    <div class="task__head">
        <div class="task__name">Есть ещё один способ стать участником RuCTF</div>
        <div class="task__score">200</div>
    </div>

    <div class="task__info-tab">

        <div class="task__description">
            В России тоже есть соревнования, которые стали международными. В 2009 году российской командой «Хакердом»
            (Уральский государственный университет, Екатеринбург) были проведены первые международные CTF-соревнования
            RuCTFE. В них участвовало 43 команды со всего мира: из университетов России, Индии, Германии, Вьетнама,
            Австрии,
            США, Франции, Италии, Хорватии, Норвегии и Аргентины. Первые соревнования RuCTFE проходили в режиме онлайн
            на
            протяжении 10 часов. За RuCTFE-2009 последовали следующие игры, в которых ежегодно принимало участие всё
            больше
            и больше команд. Расширялась также и география участников. В RuCTFE c каждым годом участвуют всё больше и
            больше
            представителей стран Азии, Европы, Африки, есть участники из Австралии, Южной и Северной Америки. В 2014
            году в
            RuCTFE сражалось уже 322 команды из различных стран мира!
        </div>

        <div class="task__buttons-container">
            <a href="#" class="task__download"></a>
            <div class="task__hint">подсказка</div>
        </div>
        <form action="">
            <input type="text" placeholder="flag" class="task__flag-input">
            <button type="submit">сдать</button>
        </form>
    </div>

    <div class="task__rating">
        <div class="task-rating-item">
            <div class="task-rating-item__name">Крутые перцы</div>
            <div class="task-rating-item__time">200</div>
        </div>
    </div>
</div>
<div class="popup__stub"></div>

<header class="header">
    <div class="header__content-container">

        <a href="/" class="header__logo">
            <img src="img/logo.png" alt="">
        </a>

        <div class="header-menu header__menu">
            <a href="" class="header-menu__item">список событий</a>
            <a href="" class="header-menu__item">мои события</a>
            <a href="" class="header-menu__item">авторизация</a>
        </div>
    </div>
</header>


<div class="event-page">
    <div class="event-page__content-container">
        <div class="event-page__title">Традиционная игра на открытом воздухе</div>

        <div class="event-page__main-block">
            <div class="event-page-tabs event-page__tabs">
                <div class="event-page-tabs__tab active">Информация</div>
                <div class="event-page-tabs__tab">Задачи</div>
                <div class="event-page-tabs__tab">Статистика</div>
            </div>

            <div class="event-info event-page__info disabled">
                <div class="event-info__description">
                    CTF (Capture the flag) — это командная игра, главной целью которой является захват «флага» у
                    соперника. Формат Сapture the flag может использоваться и в пейнтболе, и среди ролевиков, и в
                    компьютерных играх. В области компьютерной безопасности тоже есть своё понятие CTF. Командные
                    соревнования по информационной безопасности формата CTF — это как раз то, что стало причиной
                    появления тысяч команд со всего мира и то, ради чего создана эта лента.
                </div>

                <div class="event-info__organizers">
                    Организатор: Газпром
                </div>

                <div class="event-info__sponsors-list sponsors-list">
                    <div class="sponsors-list__title">Спонсоры:</div>

                    <div class="sponsors-list__list-container">
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                        <a class="sponsors-list__item"><img src="img/megafon.png" alt=""></a>
                    </div>
                </div>


            </div>

            <div class="event-page__tasks-list-block disabled">

                <div class="task-categories-list event-page__categories-list">
                    <div class="task-categories-list__item">ppc</div>
                    <div class="task-categories-list__item">programming</div>
                    <div class="task-categories-list__item">hack</div>
                </div>

                <div class="tasks-list event-page__tasks-list">
                    <div class="tasks-list-item">
                        <div class="tasks-list-item__count">200</div>
                        <div class="tasks-list-item__name">Есть ещё один способ стать участником RuCTF</div>
                    </div>
                    <div class="tasks-list-item">
                        <div class="tasks-list-item__count">200</div>
                        <div class="tasks-list-item__name">Есть ещё один способ стать участником RuCTF</div>
                    </div>
                    <div class="tasks-list-item">
                        <div class="tasks-list-item__count">200</div>
                        <div class="tasks-list-item__name">Есть ещё один способ стать участником RuCTF</div>
                    </div>
                </div>

            </div>

            <div class="scoreboard event-page__scoreboard">
                <div class="scoreboard-item">
                    <div class="scoreboard-item__place">1</div>
                    <div class="scoreboard-item__name">Крутые перцы</div>
                    <div class="scoreboard-item__score">420</div>
                </div>
                <div class="scoreboard-item">
                    <div class="scoreboard-item__place">2</div>
                    <div class="scoreboard-item__name">Крутые перцы</div>
                    <div class="scoreboard-item__score">400</div>
                </div>
                <div class="scoreboard-item">
                    <div class="scoreboard-item__place">3</div>
                    <div class="scoreboard-item__name">Крутые перцы</div>
                    <div class="scoreboard-item__score">390</div>
                </div>
                <div class="scoreboard-item">
                    <div class="scoreboard-item__place">4</div>
                    <div class="scoreboard-item__name">Крутые перцы</div>
                    <div class="scoreboard-item__score">380</div>
                </div>
            </div>


        </div>
    </div>
</div>


</body>
</html>