@import "mixins";
@import "header";
@import "header-menu";
@import "events-list-menu";
@import "events-list-item";
@import "events-list-container";
@import "events-list";
@import "event-page";
@import "sponsors-list";
@import "event-info";
@import "event-page-tabs";
@import "task-categories-list";
@import "tasks-list-item";
@import "scoreboard";
@import "scoreboard-item";
@import "popup";
@import "task";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #1d1d1d;
  font-size: 16px;
}

.events-list-page {
  padding-top: 120px;
  padding-bottom: 50px;
}

.disabled {
  display: none;
}