@import "mixins";

.task-categories-list {
  display: flex;

  &__item {
    padding: 0 38px;
    line-height: 32px;
    border: 1px solid $border-color;
    margin-right: 14px;
    margin-bottom: 10px;
    font-size: 14px;
    background-color: #ffffff;
    transition: background-color .1s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $hover-bg-color;
    }
  }
}